<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CSCB766BlogDBEntities" connectionString="metadata=res://*/ModelBlog.csdl|res://*/ModelBlog.ssdl|res://*/ModelBlog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NVANKOV-PC\SQLSERVER;initial catalog=CSCB766BlogDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>